html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	@include respond(phone-small) {
		font-size: 55%;
  	}

	@include respond(phone-smaller) {
		font-size: 45%;
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;


	:focus {
		outline: none;
		box-shadow: 0px 0px 8px 5px $main-color-light;
	}
}

body {
	font-family: 'Jost', sans-serif;
	font-weight: 400;
	margin: 0;
	color: $color-black;
	position: relative;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrap {
   flex-wrap: wrap;
}

.sticky {
   position: fixed !important;
   top: 0 !important;
}