.contacts-list {
   
   &__item {
      color: $color-grey-light;
      margin: 1.5rem 0;

      :focus {
         box-shadow: none;
         color: $color-grey-dark-5;
      }

      a {
         display: flex;
         align-items: center;
         font-size: 2.5rem;

         i {
            margin-right: 1.5rem;
            font-size: 5rem;

            :last-child {
               font-size: 4rem;
            }
         }
      }
   }
}