.projects-wrapper {
   flex-wrap: wrap;
}

.project {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 1rem;
   background-color: $color-white;
   box-shadow: .3rem .3rem .5rem $color-grey-dark-4;
   position: relative;
   transition: box-shadow .5s;
   overflow: hidden;

   &.focused {
      box-shadow: 1rem 1rem 1rem $color-grey-dark-4;
   }
   &.focused &__text {
      top: 5rem;
      transition: top .3s .3s;
   }
   &.focused &__link {
      left: 50%;
      transform: translateX(-50%);
      transition: left .3s .3s;
   }
   &.focused &__img {
      opacity: .2;
   }

   &:hover {
      box-shadow: 1rem 1rem 1rem $color-grey-dark-4;
   }
   &:hover &__text {
      top: 5rem;
      transition: top .3s .3s;
   }
   &:hover &__link {
      left: 50%;
      transform: translateX(-50%);
      transition: left .3s .3s;
   }
   &:hover &__img {
      opacity: .2;
   }

   &__text {
      text-align: center;
      letter-spacing: .1rem;
      position: absolute;
      top: -10rem;
      transition: top .3s;
      z-index: 10;
   }

   &__name {
      font-size: 3rem;
      color: $color-grey-dark-2;
      font-weight: 700;
      text-transform: capitalize;
   }

   &__tecnologies {
      font-size: 1.8rem;
      color: $main-color;
   }

   &__img {
      width: 46rem;
      transition: opacity .3s;

      @include respond(phone) {
         width: 100%;
      }
   }

   &__link {
      font-size: 2rem;
      font-weight: 500;
      color: $color-grey-dark-2;
      letter-spacing: .1rem;
      border: .3rem solid $main-color;
      padding: 0 1rem;
      background-color: $color-white;
      position: absolute;
      left: -100%;
      bottom: 3rem;
      transition: left .3s;
   }
}