.progress-bars {

   &--wrapper {
      margin-bottom: 10rem;
   }

   &__bar {
      width: 60rem;
      height: 3rem;
      background-color: $color-grey-light-2;
      margin: 1.5rem 0;
      border-radius: .3rem;
      box-shadow: .2rem .2rem 1rem $color-grey-dark;
      position: relative;

      @include respond(tab-port) {
         width: 80rem;
      }

      @include respond(phone) {
         width: 45rem;
      }

      @include respond(phone-smaller) {
         width: 40rem;
      }
   }

   &__text {
      position: absolute;
      left: 1rem;
      font-size: 1.5rem;
      color: $color-white;
  
      span {
         margin: 0 .5rem;
         font-size: 1.8rem;
         font-weight: 700;
      }
   }

   &__percent {
      width: 0;
      height: 100%;
      background-color: $main-color;
      border-radius: .3rem;
      transition: width .5s .5s ease-in-out;
   }
}