.social-media {
   margin-bottom: 5rem;

   &__link {
      margin: 0 2rem;
      padding: .7rem;
      background-color: $main-color;
      border-radius: .5rem;
      display: inline-block;

      i {
         font-size: 3rem;
         color: $color-white;
      }
   }
}