.section-1 {
    width: 100%;
    height: 100vh;
    @include image-set;
    background-image: linear-gradient(rgba($color-white, .2), 
                                      rgba($color-white, .3)),
                                        url('../images/bg.jpg');
    flex-direction: column;

    &__btn {
        font-size: 1.7rem;
        font-weight: 700;
        color: $color-grey-dark-2;
        background-color: $color-white;
        border: .3rem solid $color-grey-dark-2;
        padding: .5rem 1rem;
        text-transform: uppercase;
        letter-spacing: .3rem;
    }
}

.section-2 {
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    background-color: $color-grey-light;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3 {
    width: 100%;
    height: 70vh;
    background-color: $color-grey-dark-2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tab-mini-land) {
        height: 70vh;
    }

    @include respond(phone-small) {
        height: 75rem;
    }
}

