//IMAGE-SET

@mixin image-set {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

//MEDIA QUERY MANAGER

/* 
0-375px:        Mini-phone
375-450px:      Phone smaller
450-550px:      Phone small
550-700px:      Phone
700-900px:      Tablet portrait
900-1100px:     Tablet mini landscape
1100-1500px:    Tablet landscape
1500+:          Big desktop

$breakpoint arguments choices:
- mini-phone
- phone-smaller
- phone-small
- phone
- tab-port
- tab-mini-land
- tab-land
- big-desktop
1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == mini-phone {
        @media only screen and (max-width:23.43em) { @content }; //375px 
    }
    @if $breakpoint == phone-smaller {
        @media only screen and (max-width:28.125em) { @content }; //450px 
    }
    @if $breakpoint == phone-small {
        @media only screen and (max-width:31.25em) { @content }; //500px 
    }
    @if $breakpoint == phone {
        @media only screen and (max-width:37.5em) { @content }; //600px 
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width:50em) { @content }; //800px 
    }
    @if $breakpoint == tab-mini-land {
        @media only screen and (max-width:75em) { @content }; //1200px 
    }
}