//FONT
$default-font-size: 1.6rem;

//COLORS
$color-white: #fff;
$color-black: #000;
$main-color-light: #f5599a;
$main-color: #e41c6f;
$color-grey-light: #eef;
$color-grey-light-2: #ccc;
$color-grey: #aaa;
$color-grey-dark: #555;
$color-grey-dark-2: #333;
$color-grey-dark-3: #222;
$color-grey-dark-4: #777;
$color-grey-dark-5: #888;